* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand";
    font-size: 16px;
    background: rgba(209, 216, 224, 0.5);
    margin: 10px;
}

.wrapper{
    display: flex;
    max-width: 800px;
    height: 400px;
    background:rgba(255, 255, 255, 1);
    border: 5px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.kapsayici {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.dikey-yazi {
    height: 400px;
    position: absolute;
    left: -10px;
    transform: rotate(-90deg);
    font-size: 2.8em;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.4);
}
.yatay-yazi {
    font-size: 2em;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.4);
    display: none;
    margin: 0;
    text-align: center;
}
.nesne{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(238, 90, 36, 0.2);
    background-image: radial-gradient(rgba(255, 195, 18, 1.0), rgba(247, 159, 31,1.0));
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.2);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butonlar {
    max-width: 970px;
    text-align: center;
    margin: 20px auto;
}
button {
    min-width: 140px;
    height: 3em;
    background: rgba(255, 255, 255, 1);
    color: rgba(119, 140, 163, 1.0);
    border: 0;
    border-radius: 4px;
    margin-bottom: 5px;
    font-family: "Quicksand";
    font-weight: 600;
}
button:hover {
    background: rgba(75, 101, 132, 1.0);
    color: rgba(255, 255, 255, 1);
}
button:last-child {
    min-width: 284px;
    background: rgba(255, 255, 255, 1);
    color: rgba(247, 159, 31,1.0);
}
button:last-child:hover {
    background-image: radial-gradient(rgba(255, 195, 18, 1.0), rgba(247, 159, 31,1.0));
    color: rgba(255, 255, 255, 1);
}
.kodlar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    max-width: 500px;
    border-radius: 20px;
    color: white;
    font-family: monospace;
    font-weight: 600;
    position: relative;
}
p, .icon {
    display: inline-block;
}
.icon {
    position: absolute;
    right: 30px;
    top: 18px;
}
p:hover {
    content:'Kopyala'
}
.sira {
    color:rgba(255, 255, 255, 0.8);
    font-size: 3em;
    font-family: "Quicksand";
    font-weight: 700;
}
.alt-yazi {
    font-size: 1em;
    color: rgba(119, 140, 163, 0.5);
    text-align: right;
    width: 92%;
}

.alt-yazi > a:link, a:visited {
    color: rgba(119, 140, 163, 0.5);
}
.alt-yazi > a:hover {
    color: rgba(119, 140, 163, 1.0);
}
/** Mobil çözünürlük için */
@media (max-width: 900px) {
    .wrapper {
        height: 200px;
    }
    .nesne {
        width: 50px;
        height: 50px;
    }
    .dikey-yazi {
        display: none;
    }
    .kapsayici {
        width: 100%;
        }
    .yatay-yazi {
        display: block;
    }
    .alt-yazi {
        width: 100%;
        text-align: center;
    }
}